:root {
  /* variable font-size */
  --h1-font-size: 58px;
  --h2-font-size: 40px;
  --h3-font-size: 24px;
  --h4-font-size: 20px;
  --h5-font-size: 16px;
  --h6-font-size: 15px;
  --paragraph-font-size: 14px;

  /* variable font-weight */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* variable line-height */
  --line-height-sm: 1.1;
  --line-height-base: 1.2;
  --line-height-lg: 1.3;

  /* variable color */
  --color-primary: #ff6551;
  --color-primary-text: #252b42;
  --color-background: #fff;
  --color-paragraph: #737373;
  --color-secondary-text: #2435a1;
  --color-dark-background: #26335d;
  --color-success: #2dc071;
  --color-mute: #bdbdbd;
  --color-danger: #e74040;
  --color-light-text: #fff;
  --color-element-disable: #8ec2f2;
  --color-secondary: #ffc625;

  /* variable font-family */
  --font-family-primary: "Montserrat";
}

/* font- */
@font-face {
  font-family: var(--font-family-primary);
  src: url(/assets/font/Montserrat-VariableFont_wght.ttf), format("opentype");
}

* {
  box-sizing: inherit;
  margin: 0;
}

html {
  font-family: "Montserrat";
}

/* container */
.container {
  margin: 0 auto;
}

.container__primary {
  width: 1400px;
}

.container__secondary {
  width: 1044px;
}

/* button */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 137px;
  padding: 10px 0;
  border-radius: 5px;
  border: none;
  box-shadow: none;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-paragraph);
  line-height: 22px;
}

.btn > i {
  margin-left: 5px;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.9;
}

.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-light-text);
}

.btn--secondary {
  min-width: 160px;
  color: var(--color-primary);
  border-radius: 5px;
  background-color: var(--color-background);
  border: 1px solid var(--color-primary);
}

/* btn try free */
.btn__try-free {
  margin: 10px auto;
  width: 100%;
}

/* button learn more */
.btn__learn-more {
  font-size: var(--paragraph-font-size);
  background-color: var(--color-background);
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
}

.btn__secondary {
  border-radius: 25px;
  justify-content: center;
  padding: 10px 4px;
  margin: 20px 0;
  border: 1px solid var(--color-primary);
  font-weight: var(--font-weight-bold);
}

.btn__learn i {
  font-weight: var(--font-weight-bold);
}

/* Heading text */
.h1-text {
  font-size: var(--h1-font-size);
  line-height: var(--line-height-lg);
}

.h2-text {
  font-size: var(--h2-font-size);
  line-height: var(--line-height-lg);
}

.h3-text {
  font-weight: var(--font-weight-normal);
  font-size: var(--h3-font-size);
  line-height: var(--line-height-base);
}

.h4-text {
  font-weight: var(--font-weight-normal);
  font-size: var(--h4-font-size);
  line-height: var(--line-height-base);
}

.h5-text {
  font-size: var(--h5-font-size);
  line-height: var(--line-height-base);
}

.h6-text {
  font-size: var(--h6-font-size);
  line-height: var(--line-height-base);
}

.paragraph-text {
  color: var(--color-paragraph);
  font-size: var(--paragraph-font-size);
  line-height: var(--line-height-lg);
}

.paragraph-sm-text {
  color: var(--color-paragraph);
  font-size: var(--paragraph-font-size);
  line-height: var(--line-height-sm);
}

/* card */
.card__group {
  display: flex;
  justify-content: space-evenly;
}

.card__item {
  background-color: var(--color-background);
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  padding: 40px;
  margin: 15px;
  height: 240px;
}

.card__icon {
  margin: 0 auto;
  width: 70px;
  height: 76px;
  border-radius: 10px;
  color: var(--color-light-text);
}

.card__icon i {
  font-size: 30px;
  padding: 17px;
}

.card__title {
  padding: 18px 0;
  width: 222px;
  font-weight: var(--font-weight-bold);
  color: var(--color-primary-text);
}

.card__straight {
  width: 45px;
  height: 4px;
  background-color: var(--color-danger);
  border-radius: 10px;
  margin: 5px 0 20px 0;
}

.card__paragraph {
  line-height: var(--line-height-sm);
  color: var(--color-paragraph);
  font-size: var(--paragraph-font-size);
}

/* Flex-box*/
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}