.body-background {
  background-image: url(../images/block-background.png);
  background-repeat: no-repeat;
}

/* Navbar */
.navbar {
  margin: 0 auto;
  width: 1332px;
  height: 91px;
}

.navbar__brand-name {
  width: 187px;
  height: 58px;
  margin-right: 20px;
  padding-top: 23px;
  font-size: var(--h3-font-size);
  margin-left: 5px;
}

.navbar__brand-name > a {
  font-weight: var(--font-weight-bold);
  line-height: 32px;
  color: var(--color-primary-text);
}

/* Navigation */
.navbar__navigation {
  width: 815px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__navigation__list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.navbar__navigation__item {
  text-decoration: none;
  color: var(--color-paragraph);
  font-weight: var(--font-weight-bold);
  padding: 0 12px;
}

.navbar__navigation__item:hover {
  color: var(--color-primary);
}

.navbar__btn-group {
  display: flex;
  align-items: center;
  margin: 3px 55px 0 0;
}

.btn__login {
  justify-content: flex-start;
  text-decoration: none;
  color: var(--color-primary);
}

.btn__join > i {
  margin-left: 10px;
}

/* Hero */
.hero {
  position: relative;
}

.hero__children {
  position: absolute;
  right: -1px;
  top: -70px;
  background-image: url(../images/boy-children.png);
  width: 625px;
  height: 721px;
  z-index: -1;
}

.hero__content {
  margin: 90px auto 0;
}

.hero__content-item {
  margin: 0 auto;
}

.hero__content__tag {
  color: var(--color-primary);
  font-weight: var(--font-weight-bold);
}

.hero__content__title {
  width: 542px;
  margin: 40px 0;
  color: var(--color-primary-text);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}

.hero__content__desc {
  width: 338px;
  margin-bottom: 40px;
  color: var(--color-paragraph);
}

.hero__button-group {
  width: 375px;
  display: flex;
  justify-content: space-around;
}

.btn__get-qoute {
  width: 194px;
  border-radius: 5px;
  margin-right: 10px;
}

/* hero card */
.hero__card {
  margin: 80px auto;
}

.card__expert .card__icon {
  background-color: var(--color-primary);
}

.card__training .card__icon {
  background-color: var(--color-secondary-text);
}

.card__lifetime .card__icon {
  background-color: var(--color-secondary);
}

/* banner */
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner__advertise {
  background-image: url(../images/girl-children.png);
  background-size: cover;
  width: 507px;
  height: 535px;
}

.banner__education {
  width: 350px;
}

.banner__education__straight {
  width: 55px;
  height: 5px;
  margin-bottom: 15px;
  background-color: var(--color-danger);
}

.banner__education__title {
  margin: 15px 0;
  font-weight: var(--font-weight-bold);
  color: var(--color-primary-text);
}

.banner__education__desc {
  margin-bottom: 10px;
  font-weight: var(--font-weight-normal);
}

/* companies */
.companies {
  margin: 100px auto;
}

.companies__item-hooli {
  background-image: url(../images/holy-company.svg);
  background-repeat: no-repeat;
}

.companies__item-lya {
  background-image: url(../images/lya-company.svg);
  background-repeat: no-repeat;
}

.companies__item-cawboy {
  background-image: url(../images/cawboy-company.svg);
}

.companies__item-stripe {
  background-image: url(../images/stripe-company.svg);
  background-repeat: no-repeat;
}

.companies__item-aws {
  background-image: url(../images/aws-company.svg);
  background-repeat: no-repeat;
}

.companies__item-redit {
  background-image: url(../images/redit-company.svg);
  background-repeat: no-repeat;
}

.companies__group {
  display: flex;
  align-items: baseline;
}

.companies__item {
  width: 152px;
  height: 75px;
  margin: 0 20px;
}

/* popular courses */
.popular-courses {
  background-color: var(--color-dark-background);
}

.popular-courses__main__content {
  padding-top: 100px;
}

.content__tag {
  margin-bottom: 30px;
  font-weight: var(--font-weight-bold);
  color: var(--color-primary);
}

.content__title {
  font-weight: var(--font-weight-bold);
  color: var(--color-background);
}

.content__desc {
  width: 470px;
  margin: 15px 0 40px;
  font-weight: var(--font-weight-normal);
  color: var(--color-light-text);
}

/* card popular course */
.popular-courses__main__card-group {
  display: flex;
  padding: 50px 0 150px;
}

.popular-courses__main__card-group > .card__item {
  height: 622px;
  margin: 4px;
  padding: 0;
}

.popular-courses__card__head {
  position: relative;
  height: 300px;
}

.popular-courses__card__label {
  width: 50px;
  padding: 3px;
  position: absolute;
  top: 15px;
  left: 15px;
  text-align: center;
  background-color: var(--color-primary);
  color: var(--color-light-text);
  font-weight: var(--font-weight-bold);
}

.popular-courses__card__action-wrapper {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 15px;
  left: 100px;
}

.popular-courses__card__action {
  padding: 8px 7px 7px;
  margin: 0 3px;
  font-size: 24px;
  background-color: var(--color-background);
  color: var(--color-primary-text);
  border-radius: 50%;
}

/* popular info */
.popular-courses__card__info {
  padding: 32px;
}

.popular-courses__card__title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-primary);
  font-weight: var(--font-weight-bold);
}

.popular-courses__card__vote {
  text-align: center;
  padding: 6px 5px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: var(--font-weight-light);
  background-color: var(--color-dark-background);
  color: var(--color-light-text);
}

.popular-courses__card__vote i {
  color: var(--color-secondary);
  padding-right: 6px;
}

.popular-courses__card__title {
  margin: 18px 0;
  font-weight: var(--font-weight-bold);
  color: var(--color-dark-background);
}

.popular-courses__card__category {
  font-weight: var(--font-weight-normal);
}

.popular-courses__card__down {
  margin: 18px 0;
  font-size: var(--paragraph-font-size);
  font-weight: var(--font-weight-bold);
  color: var(--color-paragraph);
}

.popular-courses__card__down i {
  color: var(--color-mute);
  opacity: 0.8;
  padding-right: 10px;
}

.popular-courses__card__price {
  display: flex;
  font-weight: var(--font-weight-bold);
  color: var(--color-mute);
}

.popular-courses__card__price span {
  padding-left: 8px;
  color: var(--color-secondary-text);
}

/* watch course */
.watch-course__content__tag {
  margin: 30px 0;
  font-weight: var(--font-weight-bold);
  color: var(--color-primary);
}

.watch-course__content__title {
  font-weight: var(--font-weight-bold);
  color: var(--color-primary-text);
}

.watch-course__content__desc {
  margin-top: 20px;
  color: var(--color-paragraph);
  font-weight: var(--font-weight-bold);
}

/* card plan */
.watch-course__card__wrapper {
  display: flex;
  margin: 100px 0;
}

.card-plan {
  position: relative;
  padding: 40px;
  width: 248px;
  height: 888px;
  background-color: var(--color-background);
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  margin: 15px;
}

.card-plan__label {
  position: absolute;
  right: -30px;
  top: -20px;
  font-weight: var(--font-weight-bold);
  color: var(--color-background);
  border-radius: 50px;
  padding: 30px 17px;
  background-color: #e77c40;
}

.card-plan__circle-heart {
  width: 96px;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 48px;
  color: var(--color-light-text);
  background-color: var(--color-primary);
}

.card-plan__trial {
  margin: 35px 0;
  font-size: 24px;
  line-height: var(--line-height-base);
  color: var(--color-primary-text);
  font-weight: var(--font-weight-bold);
}

.card-plan__subtitle {
  font-weight: var(--font-weight-bold);
}

.card-plan__price {
  margin: 35px 0 7px;
  font-size: 40px;
  line-height: var(--line-height-lg);
  color: var(--color-primary);
  font-weight: var(--font-weight-bold);
}

.card-plan__time {
  font-weight: var(--font-weight-bold);
  color: var(--color-element-disable);
}

.card-plan__desc {
  margin: 35px 0;
}

/* list scope */
.card-plan__list {
  margin: 40px 0 20px;
}

.card-plan__item {
  display: flex;
  align-items: center;
  padding: 15px 0;
  color: var(--color-primary-text);
  font-weight: var(--font-weight-bold);
}

.card-plan__item i {
  font-size: 30px;
  padding-right: 6px;
  color: var(--color-mute);
  background-color: var(--color-background);
}

.checked i {
  color: var(--color-success);
}

/* approvable */
.approvable__content__tag {
  margin: 30px 0;
  font-weight: var(--font-weight-bold);
  color: var(--color-primary);
}

.approvable__content__title {
  color: var(--color-primary-text);
  font-weight: var(--font-weight-bold);
}

.approvable__content__desc {
  margin-top: 20px;
  color: var(--color-paragraph);
  font-weight: var(--font-weight-bold);
}

/* feedback-group */
.feedback__list {
  display: flex;
}

.feedback__item {
  margin: 100px 80px;
}

.feedback__rate {
  margin: 30px 30px 10px;
}
.feedback__rate i {
  color: var(--color-secondary);
}

.feedback__comment {
  width: 159px;
  text-align: center;
}

.feedback__user {
  margin-top: 30px;
  display: flex;
}

.feedback__info {
  margin: 7px 10px;
}

.feedback__info__name {
  display: block;
  font-weight: var(--font-weight-bold);
  color: var(--color-primary);
}

.feedback__info__job {
  font-size: 12px;
  color: var(--color-secondary-text);
}

/* news letter */
.new-letter {
  text-align: center;
  padding: 60px 0 90px;
}
.new-letter__content__tag {
  margin: 30px 0;
  font-weight: var(--font-weight-bold);
  color: var(--color-primary);
}

.new-letter__content__title {
  color: var(--color-primary-text);
  font-weight: var(--font-weight-bold);
}

.new-letter__content__desc {
  margin-top: 20px;
  color: var(--color-paragraph);
  font-weight: var(--font-weight-bold);
}

.form-group {
  display: flex;  
  justify-content: center;
  margin: 35px 0;
}

.form-email {
  width: 640px;
  height: 58px;
  margin: 20px 0;
  padding: 0 20px;
  color: var(--color-paragraph);
  background-color: #f9f9f9;
  border: 1px solid rgb(202, 202, 202);
}

.btn-subscribe {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 40px;
  margin-top: 20px;
}

/* contact */
.contact__wrapper {
  display: flex;
}
.contact__list {
  font-weight: var(--font-weight-bold);
  margin: 50px  22px;
  padding: 0 7px;
}

.contact__item i {
  color: var(--color-primary);
  padding-right: 8px;
  font-size: 24px;
  height: 30px;
}

.contact__item {
  padding: 10px 0;
  font-size: 14px;
  color: #737373;
  font-weight: var(--font-weight-bold);
}

.infor-adress {
  display: flex;
}

.company-address {
  width: 280px;
}

.info-title {
  margin-bottom: 6px;
}

/* footer */
.footer {
  background-color: #fafafa;
}

.footer__group {
  width: 1040px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}

.footer__title__coppyright {
  font-weight: var(--font-weight-bold);
}

.footer__social {
  width: 131px;
  margin-right: 80px;
  color: var(--color-primary);
}

.footer__social i {
  padding: 0 6px;
}