// break point
$tablet: 768px;
$desktop: 1400px;

// media queries
@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}
