// hero
.hero {
  
  &__content-wrapper {
    text-align: center;
    max-width: 350px;

    @include tablet {
      max-width: 450px;
    }

    @include desktop {
      text-align: start;
      max-width: 600px;
    }
  }

  &__children {

    @include desktop {
      background-image: url(../assets/images/boy-children.png);
      background-repeat: no-repeat;
    }
  }

  &__tag {
    color: $color-primary;
  }

  &__desc {
    width: 50%;

    @include tablet {
      width: 338px;
    }
  }
}

// banner
.banner {

  &__advertise {
    background-image: url(../assets/images/girl-children.png);
    background-size: cover;
    width: 311px;
    height: 317px;

    @include tablet {
      width: 430px;
      height: 440px;
    }

    @include desktop {
      width: 510px;
      height: 522px;
    }
  }

  &__content {
    text-align: center;
    width: 381px;

    @include desktop {
      text-align: start;
    }
  }

  &__straight {
    width: 55px;
    height: 5px;
    border-radius: 5px;
    background-color: $color-danger;

    @include tablet {
      width: 74px;
      height: 5px;
    }

    @include desktop {
      width: 94px;
      height: 7px;
    }
  }

  &__title {
    color: $text-primary-color;
  }
}

// companies
.companies {

  &__group {
    height: 125px;
    flex-wrap: wrap;

    @include tablet {
      width: 676px;
      background-image: url(../assets/images/companies.svg);
      background-repeat: no-repeat;
    }

    @include desktop {
      width: 100%;
      background-image: none;
    }
  }

  &__item {
    width: 150px;
    height: 75px;
    background-repeat: no-repeat;
  }

  &--hooli {
    background-image: url(../assets/images/holy-company.svg);
  }

  &--lya {
    background-image: url(../assets/images/lya-company.svg);
  }

  &--cawboy {
    background-image: url(../assets/images/cawboy-company.svg);
  }

  &--stripe {
    background-image: url(../assets/images/stripe-company.svg);
  }

  &--aws {
    background-image: url(../assets/images/aws-company.svg);
  }

  &--redit {
    background-image: url(../assets/images/redit-company.svg);
  }
}

// watch courses
.watch-courses {

  &__tag {
    color: $color-primary;
  }
}

// popular courses
.popular-courses {
  background-color: $secondary-bg;

  &__tag {
    color: $color-primary;
  }

  &__title {
    color: $text-light-color;
  }

  &__desc {
    font-size: $font-size-xsm;
    line-height: $line-height-md;
    font-family: $font-family-secondary;
    color: $text-light-color;
  }
}

// approvable
.approvable {

  &__tag {
    color: $color-primary;
  }

  &__title {
    color: $text-primary-color;
  }
}

.feedback {

  &__item {
    width: 312px;
  }

  &__rate {
    color: $color-warning;
    font-size: $font-size-xsm;

    @include tablet {
      font-size: $font-size-sm;
    }
  }

  &__avatar {

    img {
      width: 80%;
      height: 80%;

      @include tablet {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__info {

    &__name {
      color: $color-primary;
      line-height: $line-height-md;
      font-size: $font-size-xsm;
    }

    &__job {
      font: {
        family: $font-family-secondary;
        size: $font-size-xxs;
      }

      @include tablet {
        font-size: $font-size-xs;
      }
    }
  }
}

// newsletter
.news-letter {

  &__tag {
    color: $color-primary;
  }

  &__title {
    color: $text-primary-color;
  }
}
