.footer {
  &__wrapper {
    text-align: center;

    @include tablet {
      display: flex;
      text-align: start;
      justify-content: space-between;
    }
  }

  &__list {
    padding: 0;

    @include tablet {
      width: 16%;
    }
  }

  &__title {
    padding: 15px 0;
    font-size: $font-size-xsm;
    color: $text-primary-color;

    @include desktop {
      padding: 20px 0;
      font-size: $font-size-sm;
    }
  }

  &__link {
    padding: 5px 0;
    color: $paragraph-color;
    font-size: $font-size-xs;

    a {
      color: $paragraph-color;
      text-decoration: none;
      overflow-wrap: break-word;
    }

    p {
      margin: 0;
    }

    @include desktop {
      padding: 10px 0;
      font-size: $font-size-xsm;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    margin: 5px auto;
    background-size: cover;

    @include tablet {
      margin: 0 10px 0 0;
      width: 20px;
      height: 20px;
    }

    @include desktop {
      width: 24px;
      height: 24px;
    }
  }

  &__group {
    background-color: $footer-color;
    margin-top: 30px;
  }

  &__copyright {
    font-size: $font-size-xs;
    padding-top: 4px;
    color: $paragraph-color;

    @include tablet {
      font-size: $font-size-xs;
      margin: 25px 0;
    }

    @include desktop {
      font-size: $font-size-xsm;
    }
  }

  &__social {
    width: 112px;
    display: flex;
    margin: 20px auto;
    justify-content: space-between;

    @include tablet {
      margin: 25px 62px;
    }
  }
}

.icon--phone {
  @extend .footer__icon;
  background-image: url(../assets/icons/phone.svg);
}

.icon--location {
  @extend .footer__icon;
  height: 20px;
  background-image: url(../assets/icons/location.svg);

  @include tablet {
    width: 36px;
    height: 26px;
    margin-top: 5px;
  }

  @include desktop {
    width: 37px;
    height: 32px;
    margin-top: 0;
  }
}

.icon--mail {
  @extend .footer__icon;
  background-image: url(../assets/icons/mail.svg);
}

.icon--facebook {
  background-image: url(../assets/icons/facebook.svg);
}

.icon--instagram {
  background-image: url(../assets/icons/instagram.svg);
}

.icon--twitter {
  background-image: url(../assets/icons/twitter.svg);
}

.company-info {
  width: 28%;
}
