// hero
.hero {

  position: relative;
  margin: 40px 0;

  &__content-wrapper {
    margin: 0 auto;
    margin-bottom: 40px;

    @include tablet {
      margin-bottom: 60px;
    }

    @include desktop {
      margin: 0;
      margin-bottom: 80px;
    }
  }

  &__children {
    display: none;

    @include desktop {
      display: block;
      position: absolute;
      top: -98px;
      right: 100px;
      width: 561px;
      height: 721px;
    }
  }

  &__title {
    margin: 20px auto;

    @include tablet {
      margin: 30px auto;
    }

    @include desktop {
      margin: 35px 0;
    }
  }

  &__desc {
    margin: 0 auto 20px;

    @include tablet {
      margin: 0 auto 30px;
    }

    @include desktop {
      margin: 0 0 35px;
    }
  }

  @include tablet {
    margin: 60px 0;
  }

  @include desktop {
    margin: 109px 0;
  }
}

// banner
.banner {
  margin: 160px 0;

  &__advertise {
    margin: 0 auto;

    @include desktop {
      margin: 0;
    }
  }

  &__content {
    margin: 40px auto;

    @include tablet {
      margin: 60px auto 0;
    }

    @include desktop {
      margin: 90px 0;
    }
  }

  &__straight {
    width: 55px;
    height: 5px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: $color-danger;

    @include desktop {
      margin: 0;
    }
  }

  &__title {
    margin: 30px 0;

    @include desktop {
      margin: 35px 0;
    }
  }

  &__desc {
    margin: 30px 0;

    @include desktop {
      margin: 35px 0;
    }
  }
}

// companies
.companies {
  margin: 30px 0;

  &__group {
    margin: 0 auto 200px;

    @include tablet {
      margin: 0 auto;
    }
  }

  &__item {
    @include tablet {
      display: none;
    }

    @include desktop {
      display: block;
    }
  }

  &--cawboy {
    margin-bottom: 50px;

    @include desktop {
      margin: 0;
    }
  }

  &--redit {
    margin-bottom: 50px;

    @include desktop {
      margin: 0;
    }
  }

  @include tablet {
    margin: 60px 0;
  }

  @include desktop {
    margin: 80px 0;
  }
}

// watch courses
.watch-courses {
  margin: 80px 0 40px;

  &__content-wrapper {
    margin-bottom: 80px;
  }

  &__title {
    padding: 10px 0;
  }

  @include tablet {
    margin: 100px 0 50px;
  }

  @include desktop {
    margin: 160px 0 80px;
  }
}

// popular courses
.popular-courses {

  &__content-wrapper {
    padding: 80px 0 40px;

    @include tablet {
      padding: 100px 0 50px;
    }

    @include desktop {
      padding: 160px 0 80px;
    }
  }

  &__card-group {
    padding-bottom: 80px;

    @include tablet {
      padding-bottom: 100px;
    }

    @include desktop {
      padding-bottom: 160px;
    }
  }

  &__title {
    padding: 10px 0;
  }
}

// approvable
.approvable {
  margin: 80px 0;

  @include tablet {
    margin: 100px 0;
  }

  @include desktop {
    margin: 160px 0;
  }

  &__content-wrapper {
    margin-bottom: 30px;

    @include tablet {
      margin-bottom: 60px;
    }

    @include desktop {
      margin-bottom: 80px;
    }
  }

  &__title {
    padding: 10px 0;
  }
}

.feedback {

  &__item {
    margin: 15px auto;
    padding: 30px;

    @include desktop {
      margin: 15px;
    }
  }

  &__comment {
    padding: 15px 0;
    margin-bottom: 0;

    @include desktop {
      padding: 15px 50px 30px;
    }
  }

  &__info {
    margin: 5px 0;
    padding-left: 10px;

    @include tablet {
      padding-left: 15px;
    }
  }
}

// newsletter
.news-letter {
  margin: 80px 0;

  @include tablet {
    margin: 100px 0;
  }

  @include desktop {
    margin: 160px 0;
  }

  &__content-wrapper {
    margin-bottom: 30px;

    @include tablet {
      margin-bottom: 60px;
    }

    @include desktop {
      margin-bottom: 80px;
    }
  }

  &__title {
    padding: 10px 0;
  }
}
