.btn {
  // button primary
  &__primary {
    color: $text-light-color;
    background-color: $btn-primary-bg;
    border-radius: $btn-border-radius-sm;
    padding: 12px 40px;
    font-size: $font-size-xsm;

    i {
      padding-left: 6px;
    }

    &:hover {
      opacity: $btn-hover-opacity;
    }

    @include desktop {
      i {
        padding-left: 8px;
      }
    }

    // button subscribe
    &--subscribe {
      @extend .btn__primary;

      padding: 11px 8px;
      font-family: $font-family-secondary;
      border-radius: $btn-border-left-radius;
      font: {
        size: $font-size-xs;
        weight: $font-weight-normal;
      }
    }

    @include tablet {
      padding: 12px 15px;
    }

    @include desktop {
      padding: 15px 22px;
      font-size: $font-size-xsm;
    }
  }

  // button secondary
  &__secondary {
    color: $color-primary;
    margin-right: 8px;
    padding: 0;
    font-size: $font-size-xsm;

    i {
      padding: 1px 4px 0;
    }

    &:hover {
      opacity: $btn-hover-opacity;
    }
  }

  // button third
  &__third {
    @extend .btn__primary;
    padding: 12px 22px;

    @include desktop {
      padding: 15px 40px;
    }
  }

  // button extra
  &__extra {
    @extend .btn__secondary;

    border: $btn-border;
    border-radius: $btn-border-radius-sm;
    background-color: $btn-secondary-bg;
    padding: 12px 22px;

    @include desktop {
      padding: 15px 40px;
    }
  }

  // button main
  &__main {
    @extend .btn__secondary;

    border: $btn-border;
    border-radius: $btn-border-radius;
    padding: 8px 15px;
    font-size: $font-size-xsm;

    @include desktop {
      padding: 10px 20px;
      border-radius: $btn-border-radius;
    }
  }

  &__group {
    @include desktop {
      padding: 8px 90px 0 0;
    }
  }
}

// button toggle
.navbar-toggler {
  border-radius: $btn-border-radius-sm;
}