// class extend
.background-icon {
  width: 58px;
  height: 65px;
  margin: 0 auto;

  @include desktop {
    margin: 0;
    width: 70px;
    height: 76px;
  }
}

.course-icon {
  width: 33px;
  height: 32px;
  background-repeat: no-repeat;
}

//card course
.card-course {
  width: 328px;
  height: 300px;
  margin: 20px auto;
  padding: 35px 40px;
  text-align: center;
  background-color: $card-bg;
  box-shadow: $card-box-shadow;

  // card expert
  &__expert {
    @extend .background-icon;
    background-color: $color-primary;
  }

  &__icon--expert {
    @extend .course-icon;
    background-image: url(../assets/icons/blackboard.svg);
  }

  // card training
  &__training {
    @extend .background-icon;
    background-color: $color-active;
  }

  &__icon--training {
    @extend .course-icon;
    background-image: url(../assets/icons/tele.svg);
  }

  // card lifetime
  &__lifetime {
    @extend .background-icon;
    background-color: $color-warning;
  }

  &__icon--lifetime {
    @extend .course-icon;
    background-image: url(../assets/icons/graduation.svg);
  }

  // courses content
  &__title {
    padding-top: 20px;
    color: $text-primary-color;
    font-size: $font-size-lg;
  }

  &__straight {
    width: 50px;
    height: 4px;
    margin: 20px auto;
    border-radius: 10px;
    background-color: $color-danger;

    @include desktop {
      margin: 20px 0;
    }
  }

  &__desc {
    color: $paragraph-color;
    line-height: $line-height-lg;
    font: {
      size: $font-size-xsm;
      family: $font-family-secondary;
    }
  }

  @include tablet {
    margin: 30px;
  }

  @include desktop {
    margin: 0;
    text-align: start;
    z-index: $zindex-modal;
  }

  &:hover {
    padding: 37px 43px;

    @include desktop {
      height: 310px;
      padding: 35px 60px 30px 40px;
    }
  }
}

// card popular
.card-popular {
  width: 328px;
  margin: 40px auto;
  background-color: $card-bg;

  &__img-placeholder {
    width: 328px;
    height: 300px;
  }

  &__head {
    position: relative;

    img {
      width: 100%;
      height: 300px;
    }
  }

  &__label {
    top: 20px;
    left: 20px;
    padding: 3px 10px;
    position: absolute;
    border-radius: 3px;
    color: $text-light-color;
    font-size: $font-size-xsm;
    background-color: $color-primary;
  }

  &__action-wrapper {
    top: 236px;
    left: 96px;
    width: 140px;
    position: absolute;
  }

  &__action {
    padding: 10px 10px;
    border-radius: 50%;
    font-size: $font-size-md;
    color: $card-action-color;
    background-color: $card-bg;

    &:hover {
      opacity: $card-icon-opacity;
    }
  }

  &__info {
    padding: 25px 25px 35px;
    background-color: $card-bg;
  }

  &__title {
    padding-top: 8px;
    color: $color-primary;
    line-height: $line-height-md;
    font-size: $font-size-xsm;
  }

  &__vote {
    padding: 5px;
    color: $text-light-color;
    background-color: $card-dark-bg;
    border-radius: $card-border-radius;
    font: {
      size: $font-size-xs;
      family: $font-family-secondary;
    }

    i {
      padding-right: 2px;
      color: $color-warning;
    }
  }

  &__heading {
    padding: 20px 0;
    line-height: $line-height-lg;
    font-size: $font-size-xsm;

    @include tablet {
      font-size: $font-size-sm;
    }
  }

  &__down {
    padding: 20px 0 10px;
    color: $paragraph-color;
    font-size: $font-size-xsm;
    line-height: $line-height-lg;
    font-family: $font-family-secondary;

    i {
      margin-right: 10px;
    }
  }

  &__price {
    padding: 20px 0;
    color: $color-mute;
    line-height: $line-height-md;
    font-size: $font-size-xsm;

    span {
      margin-left: 2px;
      color: $text-secondary-color;
    }
  }

  @include tablet {
    margin: 30px 8px;
  }

  @include desktop {
    margin: 0;
  }
}

// card plan
.card-plan {
  width: 328px;
  margin: 15px;
  padding: 50px 44px;
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background-color: $card-bg;
  box-shadow: $card-box-shadow;

  &__label {
    position: absolute;
    top: -10px;
    right: -25px;
    padding: 31px 16px;
    border-radius: 50px;
    font-size: $font-size-lg;
    color: $text-light-color;
    background-color: $label-color;

    @include tablet {
      top: -25px;
      left: -34px;
      right: 277px;
    }

    @include desktop {
      top: -30px;
      left: 255px;
      right: -13px;
    }
  }

  &__circle-heart {
    padding: 24px;
    border-radius: 50%;
    color: $text-light-color;
    font-size: $icon-heart-font-size;
    background-color: $color-primary;
  }

  &__trial {
    margin: 35px 0;
    color: $text-primary-color;
    font-size: $font-size-lg;
  }

  &__subtitle {
    color: $paragraph-color;
    line-height: $line-height-md;
    font-size: $font-size-xsm;
  }

  &__price {
    margin: 35px 0 0;
    color: $color-primary;
    font-size: $font-size-xlg;
    line-height: $line-height-lg;

    @include tablet {
      font-size: $font-size-xl;
    }
  }

  &__time {
    color: $color-disable;
    line-height: $line-height-md;
    font-size: $font-size-xsm;
  }

  &__desc {
    margin: 35px 0;
  }

  // list scope
  &__list {
    padding: 0;
    margin: 16px 0;
    text-align: start;
  }

  &__item {
    display: flex;
    padding-top: 15px;
    align-items: center;
    font-size: $font-size-xsm;
    color: $text-primary-color;

    i {
      color: $color-mute;
      font-size: $icon-check-font-size;
    }

    p {
      margin: 0;
      padding: 3px 0 0 5px;
      color: $text-primary-color;
    }

    &:last-child {
      i {
        margin-top: 5px;
      }
    }

    @include tablet {
      font-size: $font-size-xsm;
    }
  }

  @include desktop {
    text-align: start;
    align-items: flex-start;
  }
}

.checked {
  i {
    color: $color-success;
  }
}
