body > div {
  @include desktop {
    background-image: url(../assets/images/block-background.png);
    background-repeat: no-repeat;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.container {
  margin: 0 auto;

  @include tablet {
    max-width: 992px;
  }

  @include desktop {
    max-width: 1076px;
  }
}
