.navbar {
  &__navigation {
    padding: 0;
    margin: 0;

    @include tablet {
      margin: 0 auto;
      display: flex;
    }

    @include desktop {
      padding: 2px 12px;
      margin: 13px 0 0 15px;
      justify-content: start;
    }
  }

  &__item {
    margin: 15px 0;
  }

  &__link {
    color: $paragraph-color;
    text-decoration: none;
    margin: 0;
    font: {
      weight: $font-weight-bold;
      size: $font-size-xsm;
    }

    &:hover {
      color: $color-primary;
    }

    @include tablet {
      margin-left: 35px;
    }

    @include desktop {
      margin: 0 21px 0 0;
    }
  }
}

