// text lage
.text-xxxl {
  text-transform: uppercase;
  line-height: $line-height-lg;
  color: $text-primary-color;
  font-size: $font-size-xxl;

  @include desktop {
    font-size: $font-size-xxxl;
  }
}

.text-xl {
  font-size: $font-size-xlg;
  line-height: $line-height-lg;

  @include tablet {
    font-size: $font-size-xl;
  }
}

.text-lg {
  color: $text-primary-color;
  font-size: $font-size-lg;
}

// text medium
.text-md {
  color: $paragraph-color;
  line-height: $line-height-lg;
  font: {
    size: $font-size-md;
    family: $font-family-secondary;
  }
}

// text small
.text-sm {
  line-height: $line-height-lg;
  font-size: $font-size-xsm;

  @include tablet {
    font-size: $font-size-sm;
  }
}

.text-xsm {
  line-height: $line-height-md;
  font-size: $font-size-xsm; 
}

.paragraph-text {
  color: $paragraph-color;
  font-size: $font-size-xsm;
  line-height: $line-height-lg;
  font-family: $font-family-secondary;
}
